.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.1);
}

.inventoryModalContent{
    background-color: #555;
    margin: auto;
    padding: 20px;
    /*border: 1px solid #888;*/
    width: 80%;
    border: none;
    border-radius: 20px;
}

#closeModal{
    color: #aaaaaa;
    float: right;
    font-size: 17px;
    font-weight: bold;
    background-color: #555;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    width: 5%;
}

#closeModal:hover, #closeModal:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modalArrow{
    content: "";
    display: block;
    position: fixed;
    top: 25%;
    bottom: auto;
    right: 90.5%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 35px 25px 0;
    border-color: transparent #555 transparent transparent;
}

#buttonRow{
    background-color: #555;
    border: none;
    outline: none;
    overflow: auto;
}

.tabButton{
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tabButton:hover{
    background-color: #777;
}

.tabContent{
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
    /*border-radius: 20px;*/
}

#Inventory{
    background-color: red;
}

#Stats{
    background-color: green;
}